<h2 class="product-title halo">Welcome to the store</h2>
<div class="shop-container"> 
    
    <div>
        <nav class="sidenavi">
                <a href="/allproducts/" aria-label="All items listed">All products</a><br>
                <a href="/allproducts/findbycategory/?category=phone" aria-label="All phones listed">Phones</a><br>
                <a href="/allproducts/findbycategory/?category=tamagotchi" aria-label="All tamagothcis listed">Tamagotchis</a><br>
                <a href="/allproducts/findbycategory/?category=ringtone" aria-label="All ringtones listed">Ringtones</a><br>
                <a href="/allproducts/findbycategory/?category=camera" aria-label="All cameras listed">Cameras</a><br>
                <a href="/allproducts/findbycategory/?category=mp3player" aria-label="All mp3-players listed">Mp3-players</a><br>
        </nav>
    </div>
    <div>
    <!-- loop all pruducts -->
        {{#if products.length}}
            <section class="product-list" aria-label="List of all products">
            {{#each products}}
                <article class="product-card" aria-labelledby="product-{{@index}}">
                <img src="{{this.imageUrl}}" alt="{{this.name}}" class="product-image">
                 <div class="product-info" tabindex="0">
                    <h3 id="product-{{@index}}">{{this.name}}</h3>
                    <p><strong>Price:</strong> {{this.price}} €</p>
                {{#if this.category}}<p><strong>Category:</strong> {{this.category}}</p>{{/if}}
                <p>
                <strong>Availability:</strong>
                {{#if this.inStock}}<span style="color:green;">In stock</span>
                {{else}}<span style="color:red;">Out of stock</span>{{/if}}
                </p>
                </div>
                <!-- <div>
                <form action="/allproducts/addcart{{this._id}}" method="POST">
                    <button type="button" class="btn add" aria-label="Add {{this.name}} to the cart">Buy</button>
                </form> 
                </div> -->
                </article>
            {{/each}}
            </section>
        {{else}}
            <p class="no-products"> No products in the shop.</p>

        {{/if}}
    
</div>
</div>