<h1 class="visually-hidden">Admin Panel</h1>

<div class="form-container">

  <img src="/images/admin_panel.png" alt="Admin Panel" class="admin-image">

  <form action="/admin/update/{{products._id}}" method="POST" enctype="multipart/form-data" class="admin-form">
    <label for="name" class="visually-hidden">Product name</label>
    <input id="name" name="name" type="text" required value="{{products.name}}"  aria-label="Edit product name">

    <label for="price" class="visually-hidden">Price</label>
    <input id="price" name="price" type="number" step="0.01" required value="{{products.price}}" aria-label="Edit price">

    <label for="category" class="visually-hidden">Category</label>
    <select id="category" name="category" aria-label="Choose product category">
      <option value="">Choose a category</option>
      <option value="phone"  aria-label="Category phone">Phone</option>
      <option value="tamagotchi" aria-label="Category tamagotchi">Tamagotchi</option>
      <option value="ringtone" aria-label="Category ringtone">Ringtone</option>
      <option value="camera" aria-label="Category camera">Camera</option>
      <option value="mp3player" aria-label="Category mp3-palyer">Mp3-player</option>
    </select>

    <div class="file-upload-group">
      <label for="productImage" class="file-label"><strong>Change product image</strong></label>
      {{#if products.imageUrl}}<img src="{{products.imageUrl}}" alt="{{products.name}}" class="product-image">
      {{/if}}
      <input id="productImage" name="productImage" type="file" accept="image/*" class="custom-file-input">
    </div>

    <label for="altText" class="visually-hidden">Image alt text</label>
    <input id="altText" name="altText" type="text" required maxlength="100"
       value="{{products.altText}}" placeholder="Short image description (used as alt text)">


    <div class="checkbox-group">
      <label for="inStock"><strong>Available in stock</strong></label>
      <input id="inStock" name="inStock" type="checkbox">
    </div>

    <button type="submit">Edit Product</button>
  </form>

</div>

